.main {
  min-height: 100vh;
  background-color: #252525;
  padding: 5rem;
}

.sort {
  display: flex;
  gap: 3rem;
  margin-bottom: 5rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @include respond(phone) {
    flex-direction: column;
  }

  &__category {
    font-family: $ff-montserrat;
    text-transform: capitalize;
    padding: 1rem 2rem;
  }
}
